CF_TUNNEL_TOKEN=your_cloudflare_tunnel_token
CF_API_TOKEN=your_cloudflare_api_token
CF_ACCOUNT_ID=your_cloudflare_account_id
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_me
ADMIN_SECRET_KEY=change_me_32_chars_minimum
INTEGRATIONS_SECRET_KEY=generate_with_openssl_rand_base64_32
APPOINTMENT_ENCRYPTION_KEY=generate_with_openssl_rand_base64_32
GOOGLE_SESSION_SECRET=generate_with_openssl_rand_base64_32
APP_DATA_DIR=./data
NGINX_PORT=8080
PORT=3000
SITE_URL=https://galantesjewelry.com
GOOGLE_OAUTH_CLIENT_ID=replace_after_google_cloud_creation.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=replace_after_google_cloud_creation
GOOGLE_OAUTH_JAVASCRIPT_ORIGIN=https://galantesjewelry.com
GOOGLE_OAUTH_REDIRECT_URI=https://galantesjewelry.com/api/auth/google/callback
GOOGLE_OAUTH_SCOPES=openid email profile
GOOGLE_CALENDAR_ID=primary_or_shared_calendar_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=calendar-bot@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n
GMAIL_SMTP_USER=joelstalin2105@gmail.com
GMAIL_SMTP_PASS=your_gmail_app_password
GMAIL_NOTIFICATION_TO=ceo@galantesjewelry.com
E2E_BASE_URL=http://127.0.0.1:3000
SELENIUM_PROFILE=Default
SELENIUM_HEADLESS=0

REMOTE_HOST=your.server.ip
REMOTE_PORT=22
REMOTE_USER=ubuntu
REMOTE_APP_DIR=/var/www/galantesjewelry
